h1= title

- for (var item in posts)
  div.post
    h3= posts[item].title
    div.content= posts[item].content
    ul
      li Posted By: 
        = posts[item].login
      li Posted On: 
        = posts[item].posted_on
  hr
