h1 Create a new user

form(action='/new_user', method='POST')
  label(for='login') Login
  input(name='login', id='login')
  br
  label(for='password') Password
  input(name='password', id='password', type='password')
  br
  input(type='submit')
